/* Zusätzlicher CSS-Code für die Sprachauswahl */
.language-selector {
    color: #fff;
    margin-right: auto; /* Sorgt dafür, dass die Sprachauswahl linksbündig ist */
    margin-left: 20px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 13px;
}
